/* git branch b2 */

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(0, 69, 0);
    margin: 0;
    padding: 0;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 75px;
    color: white;
}

h2 {
    font-size: 20px;
    color: white;
}

.logo {
    width: 200px;
    height: 130px;
}

.tab {
    width: 100%;
}

.games {
    display: flex;
    justify-content: center;
    margin: 50px;
    width: 100%;
    height: 800px;
    background-color: black;
    gap: 40px;
}

.game {
    margin-top: 70px;
    width: 350px;
    height: 500px;
    transition: all 0.5s ease-in-out;
}

.game-img {
    margin-top: 70px;
    width: 350px;
    height: 500px;
}

.game:hover {
    transform: scale(1.2);
}