* {
    padding: 0;
    margin: 0;

    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

:root {
    --bg-color: #1a1a1a;
    --header-color: #dd1111;
    --primary-text-color: #ebebeb;
    --secondary-text-color: #d0d0d0;
    --outline-color: #3f3f3f;
    --card-color: #181818;
}

body {
    background: var(--bg-color);
}

header {
    background: var(--header-color);
    color: var(--primary-text-color);

    padding-block: 16px;
}

h1 {
    text-align: center;
}

main {
    display: grid;
    grid-template-columns: repeat(5, 1fr);

    gap: 8px;
    padding: 8px;
}

.card {
    padding: 8px;

    border: var(--outline-color) 1px solid;
    box-shadow: rgb(0 0 0 / .25) 0 0 15px;

    background-color: var(--card-color);
}

.card-icon-container {
    width: 100%;
    height: 200px;

    overflow: hidden;

    display: flex;
    justify-content: center;
    align-items: center;
}

.card-name {
    color: var(--primary-text-color);
    font-size: 24px;
}

.card-desc {
    color: var(--secondary-text-color);
}

.card-price {
    color: var(--secondary-text-color);

    margin-block: 8px;
}

.card-buy {
    padding: 8px;

    background-color: var(--header-color);
    color: var(--primary-text-color);
    
    border: none;

    width: 100%;

    font-weight: bold;
}

.card-icon {
    width: 100%;
}